# Inspired from https://stackoverflow.com/a/987162 and https://git-scm.com/docs/gitignore

# We need to ignore and ignoren't folders so that Git works, see second link above.
/*
!/BA*
/BA*/*
!/BA*/NotesCours
/BA*/NotesCours/*

# BA1 courses
!/BA1/NotesCours/Analyse-1
!/BA1/NotesCours/AICC-1
!/BA1/NotesCours/AlgebreLinaire

# BA2 courses
!/BA2/NotesCours/Analyse-2
!/BA2/NotesCours/Analyse-2-MethodesDeDemonstration
!/BA2/NotesCours/DigitalSystemDesign
!/BA2/NotesCours/AICC-2

# BA3 courses
!/BA3/NotesCours/Algorithms
!/BA3/NotesCours/Analyse-3
!/BA3/NotesCours/ComputerNetworks
!/BA3/NotesCours/NumericalMethods
!/BA3/NotesCours/IntroToMachineLearning-BA3-Summary

# BA4 courses
!/BA4/NotesCours/Analyse-4
!/BA4/NotesCours/ProbabilityAndStatistics
!/BA4/NotesCours/SignalsAndSystems

# Ignore all files in "NotesCours" folder, and allow for a "Dependencies" folder
/BA*/NotesCours/*-Summary/*
/BA*/NotesCours/*/*/*
!/BA*/NotesCours/*/*/Dependencies
/BA*/NotesCours/*/*/*/*

# Ignoren't some file extensions
!*.tex
!*.json
!*.png
!*.jpg
!*.sty
!*.txt
*_questions.txt
!*.py
!*.svg

# There are two types of pdf: some that are used as dependencies, which we want to commit, and some that are the compiled course, which we don't want
!BA*/NotesCours/*/*/*.pdf
lecture*.pdf
frontmatter.pdf

# Files for Git
!.gitignore
!README.md
