# Ignore everything, source: https://stackoverflow.com/a/987162
*
!*/
!.gitignore
!README.md

!*.tex
!*.png
!*.sty
!*.txt
!*.py
*_questions.txt
GuideSécuritéIT.pdf

# BA1
BA1/horaire.pdf
BA1/Autre/
BA1/Exercices/
BA1/NotesCours/AICC-1-old/
BA1/NotesCours/AICC-1-old.pdf
BA1/NotesCours/PhysiqueGenerale/
BA1/NotesCours/PhysiqueGenerale.pdf
BA1/NotesCours/IntroProgrammation/
BA1/NotesCours/IntroProgrammation.pdf
BA1/NotesCours/temp

!AICC-1.pdf
!Analyse-1.pdf
!AlgebreLinaire.pdf